*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    /* background:url('https://img.freepik.com/fotos-gratis/conceito-de-fundo-do-estudio-abstrato-vazio-claro-gradiente-roxo-fundo-do-quarto-do-estudio-para-o-produto_1258-54682.jpg?w=826&t=st=1718914876~exp=1718915476~hmac=ec055a503c6f016968f3a58ff3d558ab8a77cfff75d10e36b720f0cd055819cb');
    background-size: cover; */
    
    display: flex;
    flex-direction: column;

    margin: 0;
    height: 100vh;
    background: linear-gradient(rgb(34, 33, 34) 0%, rgba(34, 33, 34) 100%);
}

header {
    
    background: linear-gradient(rgb(34, 33, 34) 0%, rgba(34, 33, 34) 100%);
    box-shadow: 0px 2px 5px #3f3f3f;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    color: #fff;
}

.nav-list {
    display: flex;
    align-items: center;
    color: white;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #fff;
    font-weight: 400;
}

.login-button button {
    border: none;
    background-color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    margin-top: 38px;
}

.login-button button a {
    text-decoration: none;
    color: #9617b7;
    font-weight: 500;
    font-size: 1.1rem;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

.search-box{
    position: absolute;
    right: 300px;
    top: 57px;

    background-color: white;
    height: 50px;
    padding: 10px;
    border-radius: 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-text{
    background: none;
    border: 0;
    outline: 0;

    padding: 0;
    
    font-size: 16px;

    transition: 0.4s;
    
    width: 0;
}

.search-btn{
    width: 50px;
    height: 50px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.loupe-white{
    display: none;
}

.search-box:hover > .search-text {
    width: 320px;
    padding-left: 20px;
}

.search-box:hover > .search-btn {
    background: #9617b7 ;
}

.search-box:hover > .search-btn .loupe-purple {
    display: none;
}

.search-box:hover > .search-btn .loupe-white {
    display: block;
}

.corpo-site {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial;
    gap: 16px;
}

.card-container {
    display: flex;
    justify-content:left;
    align-items: center;
    margin: 150px;
    width: 100%;
}

.card-2 {
    width: 340px;
    height: 450px;
    border-radius: 12px;
    box-shadow: 4px 4px 12px #aaaa;
}

.mrsbruno{
    border-radius: 11px;
}